nav ul {
    display: flex;
    margin-top: 10px;
}

nav ul li {
    font-size: 16px;
    margin-right: 22px;
    list-style: none;
}

nav ul li:last-child {
    margin-right: 2;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: #4b4b4b;
}

nav a:hover,
nav a:active {
    font-weight: bold;
}

.nav-bar {
border-bottom: #4b4b4b8c 1px solid;
padding-bottom: 8px;
}