@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.78;
    color: #4b4b4b;
    background-color: #fff;
}

.main-container {
    width: 90%;
    max-width: 800px;
    margin: 5px auto;
}

.main-container > header {
    display: flex;
    justify-content: space-between;
}

label {
    font-family: 'Roboto Mono', monospace;
    display: block;
}

::placeholder {
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
} 